<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Trabajo Practico 01</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>Hola ni nombre es {{ nombre }} , tengo {{ edad }} años y vivo en {{ ciudad}}.</h1>
        <h2>Contador: {{ contador }}</h2>
        <button v-on:click="contador++">Incrementar</button>
        <button v-on:click="contador--">Decrementar</button>
        <br><br>
        <input v-model="nuevaTarea" placeholder="Escribe una tarea">
        <button @click="agregarTarea">Añadir Tarea</button>

        <ul>
            <li v-for="tarea in tareas" :key="tarea.id">
                <input type="checkbox" v-model="tarea.completada">
                <span :class="{ completada: tarea.completada }">{{ tarea.texto }}</span>
            </li>
        </ul>

        <p>Total de Tareas: {{ totalTareas }}</p>
        <p>Tareas Pendientes: {{ tareasPendientes }}</p>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                nombre: 'Ana Garcia',
                edad: 30,
                ciudad: 'Tupungato',
                contador: 0,
                nuevaTarea: '',
                tareas: [
                    { id: 1, texto: 'Aprender Vue', completada: false },
                    { id: 2, texto: 'Aprender PWA', completada: false },
                    { id: 3, texto: 'Aprender Propiedades Computadas', completada: false },
                ]

            },
            methods: {
                agregarTarea() {
                    if (this.nuevaTarea.trim() !== "") {
                        this.tareas.push({
                            id: this.nextId++,
                            texto: this.nuevaTarea,
                            completada: false
                        });
                        this.nuevaTarea = "";
                    }
                }
            },
            computed: {
                totalTareas() {
                    return this.tareas.length;
                },
                tareasPendientes() {
                    return this.tareas.filter(t => !t.completada).length;
                }
            }
        });
    </script>
</body>

</html>